.more-button-sellify {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    background-color: white;
    padding: 0;
    background-color: transparent;

    img {
        width: 56px;
    }
}