.normal label {
  white-space: pre-line;
  word-break: break-all;
  padding: 15px 15px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
}

.normal label[data-status="true"]:before {
  content: "-";
}
.normal label:before {
  content: ">";
  display: block;
  width: 10px;
  height: 10px;
  float: left;
  margin: 0 6px 0 0;
}
