.normal label {
  white-space: pre-line;
  word-break: break-all;
  padding: 15px 15px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
}

.normal label[data-status="true"]:before {
  content: " ";
  transform: rotate(45deg);
}
.normal label:before {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  float: left;
  margin: 6px 16px 0 0;

  box-sizing: border-box;
  border-style: solid;
  /* border-color: white; */
  border-width: 0px 1px 1px 0px;
  transform: rotate(-45deg);
  transition: border-width 150ms ease-in-out;
}
