.submit {
  width: 6rem;
  height: 2rem;
  border: 2px solid gray;
  border-radius: 15px;
}

.main {
  text-align: center;
  padding: 1px;
  text-align: left;
  border-radius: 3px;
  width: 250px;
  border: 1px solid #cbd6e2;
  font-size: 14px;
  transition: all .15s ease-out;
  color: #7c98b6;
}